<nav id="top">
  <ul>
     <li class="title">PuckDrop</li>
    <li class="submit"><%= link_to 'Submit "anything" Hockey', new_submission_path %></li>
    <li class="leaderboard"><%= link_to 'Leaderboard', '/submissions/leaderboard' %></li>
<% if current_user.present? && current_user.admin? %>
	<li class="flagged"><%= link_to 'Admin Dashboard', '/submissions/admin' %></li>
<% end %>
    <li class="login"><% if user_signed_in? %>
  		Logged in as <%= link_to current_user.username, user_profile_url(current_user.id) %>
  		(<%= current_user.total_goals%>) <%= link_to " Logout", destroy_user_session_url, method: :delete %>
  	<% else %>
  	<%= link_to "Login", new_user_session_url %></li>
  		<% end %>
  		<li class="social"><%= link_to image_tag("facebook.png"), "http://www.facebook.com/goPuckdrop", :target => "_blank", :title => "Facebook" %></li>
       <li class="social"><%= link_to image_tag("twitter_bird.png"), "http://twitter.com/PuckDrop", :target => "_blank", :title => "Twitter" %></li>
  </ul>
</nav>
<div id="container">
<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>

<ol>
<% @submissions.each do |submission| %>
		<li>		
	<!-- IF there is a user logged in and 
		has not given any goals to the submission during the current session and 
		if the user has not submitted this particular submission, allow them to vote up. 
		
		ELSIF - a user who is not logged in, is show the vote up arrow but will have to sign in or sign up before continuing
		because of the before filter in the submissions controller -->
		<% if current_user.present? && !session[:goals].include?(submission.id.to_s) && submission.user.id != current_user.id %>

	    	<%= link_to image_tag("goal_arrow.png", :class => "arrow"), "/submissions/#{submission.id}/goal", :title => "Vote Up!", :id => dom_id(submission) %>
  <% elsif current_user.nil? %>
			<%= link_to image_tag("goal_arrow.png", :class => "arrow"), "/submissions/#{submission.id}/goal", :title => "Vote Up!", :id => dom_id(submission) %>	
		<% else %>
			<%= image_tag("arrow_voted.png", :class => "arrow", :title => "You've already voted") %>
		<% end %>		
		<%= link_to submission.title, submission.link, :target => '_blank' %><%#= submission.source(submission.link) %>
    <% if submission.goals != 1%>
	    <p class="goals"><%= submission.goals %> goals by 
	  <% elsif %>
	    <p class="goals"><%= submission.goals %> goal by
	  <% end %>
		<%= link_to submission.user.username, user_profile_url(submission.user.id) %> |
		<%= timestamp(submission.created_at) %> ago |
		
		<% if submission.flag? %> 
			<em>submission flagged</em> 
		<% else %> 
			<%= link_to "Flag", "/submissions/#{submission.id}/flag" %> 
		<% end %>	
				</p>
		<% if current_user.present? && current_user.admin? %>
			<%= link_to 'Show', submission %> <%= link_to 'Edit', edit_submission_path(submission) %> <%= link_to 'Destroy', submission, confirm: 'Are you sure?', method: :delete %>
		<% end %>
		<br>
		</li>
<% end %>
</ol>
<%= paginate @submissions %>
</div>
<footer>
  <p>footer</p>
  </footer>
