
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=242875362471897";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<nav>
  <ul>
    <li class="title">PuckDrop</li>
    <li class="submit"><%= link_to 'Submit "anything" Hockey', new_submission_path %></li>
    <li class="leaderboard"><%= link_to 'Home', :root %></li>
<% if current_user.present? && current_user.admin? %>
	<li class="flagged"><%= link_to 'Admin Dashboard', '/submissions/admin' %></li>
<% end %>
    <li class="login"><% if user_signed_in? %>
  		Logged in as <%= current_user.username %>
  		(<%= current_user.total_goals%>) <%= link_to " Logout", destroy_user_session_url, method: :delete %>
  	<% else %>
  	<%= link_to "Login", new_user_session_url %></li>
  		<% end %>
  		<li><%= link_to image_tag("facebook.png"), "http://www.facebook.com/goPuckdrop", :target => "_blank", :title => "Facebook" %></li>
      <li><%= link_to image_tag("twitter_bird.png"), "http://twitter.com/PuckDrop", :target => "_blank", :title => "Twitter" %></li>
  </ul>
</nav>
<div id="container">

<div class="notice"><%= notice %></div>
<div  class="alert"><%= alert %></div>


<table border="0" cellspacing="5" cellpadding="5">
	<tr>
	  <tr><th colspan="2"><h2>Scoring Leaders</h2></th></tr>
		<!--<th>Prof Pic</th>-->
		<th>Rank</th>
		<th>Username</th>
		<th>Goals</th>
	</tr>

<% rank = 1 %>
	<% @top_users.each do |user| %>


		<!--<td></td>-->
		<td><%= rank %></td>
		<td><%= user.username %></td>
		<td><%= user.total_goals %></td>
		<td><a href="https://twitter.com/share" class="twitter-share-button" data-text="Guess who is on the leaderboard!!" data-via="Puckdrop" data-count="none">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></td>
	</tr>
	<% rank += 1 %>
	<% end %>	
</table>

<div class="fb-like" data-href="http://puckdrop.net/submissions/leaderboard" data-send="true" data-width="450" data-show-faces="false"></div>

<%= paginate @top_users %>
</div>

