
<div id="banner">
  <div class="title">PuckDrop</div>
<nav id="top">
  <ul>
    <li class="submit"><%= link_to 'Submit "anything" Hockey', new_submission_path %></li>
    <li class="home"><%= link_to 'Home', root_url %></li>
    <li class="recent"><%= link_to 'Most Recent', '/submissions/recent' %></li>    
	<li class="leaderboard"><%= link_to 'Leaderboard', '/submissions/leaderboard' %></li>
<% if current_user.present? && current_user.admin? %>
	<li class="flagged"><%= link_to 'Admin Dashboard', '/submissions/admin' %></li>
<% end %>
    <li class="login"><% if user_signed_in? %>
  		<%= link_to current_user.username, user_profile_url(current_user.id) %>
  		(<%= current_user.total_goals%>) | <%= link_to " Logout", destroy_user_session_url, method: :delete %>
  	<% else %>
  	<%= link_to "Login", new_user_session_url %></li>
  		<% end %>
  		<li class="social"><%= link_to image_tag("facebook.png"), "http://www.facebook.com/goPuckdrop", :target => "_blank", :title => "Facebook" %></li>
       <li class="social"><%= link_to image_tag("twitter_bird.png"), "http://twitter.com/PuckDrop", :target => "_blank", :title => "Twitter" %></li>
  </ul>
</nav>
</div>
<div id="container">
<div id="profile">
<h2>Username: <%= @user.username %></h2>
<h2>Total Goals: <%= @user.goals %></h2>

<% if current_user == @user && @twitter_auth.empty? %>
	<%= form_tag user_profile_url, :method => "get" do %>
	  <p>
	    <%= label_tag :twitter_handle, "Want to share your twitter handle? @" %>
	    <%= text_field_tag :twitter_handle %>
	    <%= submit_tag "Submit", :confirm => "Is that correct?" %>
	  </p>
	<% end %>
<% else %>
	<% @twitter_auth.each do |twitter| %>
		<h3>Twitter: <%= link_to "@#{twitter.username}", "http://www.twitter.com/#{twitter.username}", :target => "_blank" %></h3>
	<% end %>
<% end %>

<h3>Submissions:</h3>
<ol>
	<% @user.submissions.each do |submission| %>
	<li><%= link_to submission.title, submission.link, :target => '_blank' %> <span id="source"><%= submission.source(submission.link) %>
    <% if submission.goals != 1%>
	  <%= submission.goals %> goals  
		<% elsif %>
	  <%= submission.goals %> goal
		<% end %></span>
	
	</li>
	
	<% end %>	

</ol>
</div>
</div>
<%= render 'footer' %>
