<div id="session_content">
<h2>Sign in</h2>

<div id="sign_in">
<p><%= link_to image_tag('fb-connect-large.png'), '/auth/facebook', :class => 'social_sign_in'%></p>
<p><%= link_to image_tag('sign-in-with-twitter-button-1.png'), '/auth/twitter', :class => 'social_sign_in' %></p>
</div>



<div id="sign_up">
<p>Not using facebook or twitter and have not signed up?</p>
<%= render "links" %>
</div>

<div id="alt_signon">
<p>Alternative Sign In:</p>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>
</div>


