<div id="banner">
  <div class="title">
    <%= link_to "PuckDrop", root_path, id: "logo" %>
  </div>
  <nav id="top">
  <ul>
    <li class="submit"><%= link_to 'Submit "Hockey" Stuff', new_submission_path %></li>
    <li class="home"><%= link_to 'Home', :root %></li>
    <li class="recent"><%= link_to 'New', '/submissions/recent' %></li>
    <li class="leaderboard"><%= link_to 'Leaderboard', '/submissions/leaderboard' %></li>
    <li class="login"><% if user_signed_in? %>
  		<%= link_to current_user.username, user_profile_url(current_user.id) %>
  		(<%= current_user.total_goals%>) | <%= link_to " Logout", destroy_user_session_url, method: :delete %>
  	<% else %>
  	<%= link_to "Login", new_user_session_url %></li>
  		<% end %>
  		<li class="social"><%= link_to image_tag("facebook.png"), "http://www.facebook.com/goPuckdrop", :target => "_blank", :title => "Facebook" %>
       <%= link_to image_tag("twitter_bird.png"), "http://twitter.com/PuckDrop", :target => "_blank", :title => "Twitter" %></li>
  </ul>
  
</nav>
</div>