<!DOCTYPE html>
<html>
<head>
  
  <title>PuckDrop.net | The Puck Drops Here!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/script' %>
  <%= render 'layouts/shim' %>

</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/facebook' %>
  
  <% if current_user.present? && current_user.admin? %>
  <%= link_to 'Admin Dashboard', '/submissions/admin' %>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
