<!DOCTYPE html>
<html>
<head>
  <title>PdropApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

<p>
	<% if user_signed_in? %>
		Logged in as <%= current_user.email %>. <%= link_to "Not You?", destroy_user_session_url, method: :delete %>
	<% else %>
		<%= link_to "Sign Up", new_user_registration_url %> or <%= link_to "Sign in", new_user_session_url %>
	<% end %>
</p>
<%= yield %>

</body>
</html>
